@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container-fluid a{
    position: fixed;
    background-color: rgba(50, 160, 239, 0.134);
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    outline: none;
    text-decoration: none;
    font-weight: 600;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img9.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
}

.wrapper {    
    width: 420px;
    color: aliceblue;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.982);
    /* background-color: #3333337d; */
}


.wrapper h1{
    font-family: 36px;
    text-align: center;
}


.wrapper .input-box{
    position: relative;
    height: 50px;
    margin: 30px 0;
}

.input-box input{ 
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white;
}


.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a{
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: .2s;
}

.btn:hover{
    color: white;
    background-color:  rgba(50, 239, 154, 0.59);
    box-shadow: 0px 0px 8px #00000069;
    transform: scale(1.05);
}

.wrapper .register-link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.div-tabela{
    background-color: black;
    color: white;
    border: 2px solid blueviolet;
}

table{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    color: white;
}
