
{% extends 'usuarios/base.html' %}
<!-- onde vai ser renderizado esse codigo: dentro do block que está na pasta BASE.HTML -->
{% block conteudo %}
<div class="usuario-div">
  <h1>Usuarios cadastrados:</h1>
    <table>
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>Idade</th>
        </tr>
        {% for usuario in usuarios%}
        <tr>
            <td>{{usuario.id_usuario}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.idade}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}